.tout{
    background-color: #EEEEF1;
   /* height: 100%;*/
    width: 110%;
    position: relative;
    left:220px;
    top:-677px;
    scroll-snap-type: y mandatory;
    max-width: 1460px;
    margin: 0 auto;
   overflow-y: auto;
   overflow-x: hidden;
   float:left;
   max-height:550px;
   height:auto;
}

.boutton-style {
    z-index: 99;
    position: relative;
    left:200px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 40px;
    background: #0D97D3;
    border-radius: 20px;
    color: #FFF;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 200;
    display:inline-block;
    margin-left: 20px;
    top:30px;

}

button:hover {
    cursor: pointer;
    background: #4D70D7;
}

.table1 th{
    background: #0D97D3;
    color: #FFF;
    line-height: 0.75; 
    border-bottom: 1px solid #ddd;
    text-align: center;
    
}
.table1{
    position: relative;
    top:100px;
    overflow-y: auto;
    height: 100%;
   
}

.table1 tbody{
    line-height: 1; 
    text-align: center;
    background: white;
    width: 200px;
}
h1{
    position: relative;
    left:390px;
    top:60px;
    font-size: 30px;
}
.input-style
{
    position: relative;
    top:50px;
    left:300px;
    border-radius: 10px;
    height:35px;
    width:350px;
    text-align: center;
    box-shadow: 2px 2px #b7b7b8
}
.boutton-style1
{
    z-index: 99;
    position: relative;
    top:-2px;
    left:-30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 40px;
    background: #0D97D3;
    border-radius: 20px;
    color: #FFF;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 200;
    display:inline-block;
    margin-left: 20px;
}

.boutton-style1{
    border:none;
}
.boutton-style1:hover{
    outline:none;
    border:none;
}
input{
    outline:none;
    border:none;
}
.boutton-style{
    border:none;
}
.boutton-style:hover{
    outline:none;
    border:none;
}